  .login-page{
    background-color: #fff;

  }
  .logo {
    margin: 50px 0 0 100px;
  }
  main {
    display: flex;
    margin: 0 60px;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
  }
  .pablo {
    width: 100%;
  }
  .right {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
  }
  .welcome {
    font-size: 40px;
    color: #213f7d;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 15px;
    max-width: 200px;
  }
  .enter-details {
    font-size: 17px;
    opacity: 0.89;
    color: #213f7d;
    margin-bottom: 50px;
  }
  .input {
    width: 390px;
    height: 48px;
    margin: 15px 0;
    border: 1px solid rgba(84, 95, 125, 0.15);
    color: #495057;
    font-weight: 400;
    outline: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .login-input {
    height: 40px;
    width: 350px;
    border: none;
    outline: 0;
    ::placeholder {
      font-size: 15px;
    }
  }
  .input-password-text {
    font-size: 15px;
    opacity: 0.79;
    color: #545f7d;
  }
  .show {
    color: #39cdcc;
  }
  .forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 7px;
    width: 400px;
  }
  a {
    color: #39cdcc;
    font-size: 12px;
  }
  .login-btn {
    width: 390px;
    height: 48px;
    opacity: 0.65;
    font-size: 17px;
    background-color: #39cdcc;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
  @media screen and (max-width: 1200px) {
    main {
      margin: 0 20px;
    }
    .right {
      padding-left: 0px;
    }
    .pablo {
      width: 90%;
    }
  }
  @media screen and (max-width: 1000px) {
    main {
      margin: 0 10px;
    }
    .logo {
      margin: 30px 0 0 30px;
    }
    .welcome {
      font-size: 30px;
      font-weight: 500;
      max-width: 150;
    }
    .input,
    button,
    .forgot-password {
      width: 360px;
    }
  }
  @media screen and (max-width: 790px) {
    .pablo {
      display: none;
    }
    .hero,
    .right,
    .input,
    button,
    .forgot-password {
      width: 100%;
    }
  }