  .org,
  .org-close {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 360px;
    left: 20%;
    background-color: #fff;
    padding: 15px;
    width: 70%;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .data-header {
    display: flex;
    width: 100%;
  }
  .data-heading {
    display: flex;
    color: #545f7d;
    height: 35px;
    font-size: 14px;
    line-height: 16px;
    width: 165px;
    height: 30px;
    text-align: left;
    flex-shrink: 0;
  }
    .users-detail{
    width: 100%;
    background-color: #fff;
  }
  .datas {
    display: flex;
    border-bottom: 1px solid #545f7d;
    padding: 0;
    margin: 0;
    width: fit-content;
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 165px;
    flex-shrink: 0;
    height: 45px;
    color: #545f7d;
    font-size: 13px;
    text-align: left;
  }
  .data-email{
    width: 230px;
    flex-shrink: 0;
  }
  @media screen and (max-width: 1200px) {
  .org,
  .org-close {
    top: 360px;
    left: 0;
    width: 100%;
    margin: auto;
  }
}
  @media screen and (max-width: 900px) {
  .org,
  .org-close {
    top: 500px;
  }
}
