  .user-data{
    position: absolute;
    top: 110px;
    left: 200px;
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .users-back{
    display: flex;
    width: 250px;
    align-items: left;
    justify-content: center;
    color: #213f7d;
    cursor: pointer;
    font-size: 22px;
    margin: 15px 0;
  }
  .user-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
    .details-heading{
    color: #213f7d;
    font-size: 22px;
    line-height: 24px;
  }
  .user-decision{
    display: flex;
    justify-content: space-between;
  }

  .blacklist-user{
    color: #E4033B;
    border: 1px solid #E4033B;
    padding: 10px;
    cursor: pointer;
    margin: 0 7px;
  }
  .activate-user{
    color: #39cdcc;
    border: 1px solid #39cdcc;
    padding: 10px;
    margin: 0 7px;
    cursor: pointer;
  }
  .user-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 0;
  }
  .user-brief-profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 20px 0;
  }
  .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px 20px;
  }
  .star-user,
  .user-account-balance,
  .username-number{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #213f7d;
  }
  .user-name{
    font-size: 27px;
    font-weight: 500;
    color: #545f7d;
  }
  .user-number{
    font-size: 17px;
    color: #545f7d;
  }
  .star-user{
    align-items: center;
    justify-content: center;
    border-left: 1px solid #213f7d;
    border-right: 1px solid #213f7d;
  }
  .stars{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .star{
    font-size: 17px;
  }
  .star.bg{
    color: gold;
  }
  .full-details-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .underline-gen-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .general-info{
    color: #39cdcc;
    font-size: 17px;
    padding: 5px;

  }
  .underline{
    height: 2px;
    background-color: #39cdcc;
  }
  .general-info-header{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
  }
  .user-full-profile{
    background-color: #fff;
    margin: 30px 0 0 0;
  }
  .personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    border-bottom: 1px solid #213f7d;
  }
  .personal-info-heading{
    font-size: 17px;
    color: #545f7d;
    padding: 10px;
  }
  .about{
    display: flex;
    flex-wrap: wrap;
  }
  .about-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 25px;
  }
  h6{
    font-size: 15px;
    color: #545f7d;
  }
  .info-detail{
    font-size: 14px;
    color: #213f7d;
  }
    @media screen and (max-width: 1200px) {
  .user-data {
    top: 170px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .user-profile{
    width: 100%;
    margin: 20px;
    padding: 0;
    margin: 0;
  }
}

  @media screen and (max-width: 600px) {
  .user-data {
    top: 130px;
  }
  .user-details{
    align-items: flex-start;
    flex-direction: column;
  }
  .details-heading{
    margin-bottom: 7px;
  }
  .user-full-profile{
    margin: 30px 0 0 0;
    justify-content: center;
  }
  .full-details-header{
    justify-content: center;

  }
}